.footer {
  padding: 5px;
  text-align: center;
  background: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px; /* Adjust the font size as needed */
}

.footer-links {
  margin-top: 10px; /* Adjust the margin as needed */
}

.footer-links a {
  margin: 0 5px; /* Adjust the margin as needed */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #ffcc00;
}